
.projectDescription {
  padding-bottom: 1em;
}


img {
  width: 100%;
}

strong {
  color: #E8AEB1;
  font-weight: bold;
}

.mockupImage {
  width: 70%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #F9F5F5; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #76C3D2;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #F9F5F5;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #F9F5F5;
  padding: 20px;
  padding-top: 5em;
}

.main {
  padding: 84px 3em 0 3em;
  box-sizing: border-box;
}
body {
  background-color: #F9F5F5;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

input, textarea {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
}

.caseStudy {
  padding-bottom: 0.8em;
}

p {
  padding: 0.5em;
  line-height: 1.75em;
}

h2.projectName:after {
    position: absolute;
    display: block;
    content: '';
    width: 6em;
    height: 1em;
    background-color: #F7D794;
    top: .5em;
    z-index: -1;
    left: 3em;
}

.aboutme {
  padding-bottom: 0.5em;
}

.projectName {
  position: relative;
  padding-bottom: 0.8em;
  z-index: -1;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

.description {
  padding-bottom: 0.8em;
}

.Prototype {
  width: 10em;
  height: 3em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 0.5em;
}
/* nav {
  background-color: transparent;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav > a, nav > div{
  padding: 1.5em 2em;
  color: black;
  font-weight: bold;
} */

.slogan {
  padding: 1em 0;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
}

.thanks{
  text-align: center;
  max-width: 50em;
  margin: auto;
  padding-bottom: 2em;
  font-size: 1.25em;
}

p {
  font-size: 1.1em;
}
/* nav > div > a {
  padding: 0 1em;
  color: black;
}

nav.solid {
  background-color: white;
} */
.userPersonas img {
  border-radius: 1em;
}

h1 {
  font-size: 2em;
  /* font-family: 'Oleo Script', cursive; */
  /* font-family: 'Prata', serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h2 {
  /* font-family: 'Oleo Script', cursive; */
  /* font-family: 'Prata', serif; */
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
}

h3 {
  /* font-family: 'Oleo Script', cursive; */
  /* font-family: 'Prata', serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 2em;
  line-height: normal;
  max-width: 50em;
  margin: auto;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  padding-bottom: 0.5em;
  font-weight: bold;
  padding-left: 0.5em;
}

h5{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.sayHello, .Prototype {
  background-color: #E8AEB1;
}

.personaTitles {
  font-size: 1.3em;
}
header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 3em;
}

header img {
  width: 100%;
}

header div.intro {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column;
  top: 100%;
  padding-top: 1em;

}

.workTitle {
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}


.allProjects{
  display:flex;
  justify-content: space-around;
}


nav {
  position: fixed;
  background-color: transparent;
  height: 84px;
  top: 0;
  width: calc(100% + 1em);
  left: -1em;
  z-index: 1;
}

nav.solid {
  background-color: white;
}

a{
  text-decoration: none;
  color: #3BABC0;
  font-weight: bold;
  transition: color 0.3s ease;
}

#menu a {
  color: #232323;
  font-weight: normal;
}

footer a {
  color: #232323;
  font-weight: normal;
}

hr {
    color: black;
}


.small {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.topft {
  display: flex;
  justify-content: center;
}
a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: black;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.ashLogo {
  position: fixed;
  width: 50px;
  display: flex;
  justify-content: center;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
}

.ashLogo a {
  margin-top: 9px;
}


.summary {
  display: flex;
  justify-content: space-between;
}

h3{
  padding-bottom: 0.3em;
}

.sectioning {
  padding-bottom: 5em;
  text-align: left;
  max-width: 50em;
  margin: auto;
  line-height: 2em;
}

button {
  border: none;
}

.brandGuide {
  /* width: 7em; */
  height: 3em;
  font-size: 1em;
  font-weight: bold;
  background-color: #E8AEB1;
  max-width: 50em;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

footer {
  background-color: #E8AEB1;
  padding: 1em;
  margin-left: -3em;
  margin-right: -3em;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  padding: 0 1em;
}

.sayHello {
  height: 4em;
  width: 8em;
  border-radius: 0.5em;
}


.usTableCont {
  padding: 1em;
  height: 16em;
  overflow: scroll;
  /* padding-left: 5em; */
  display: flex;
  flex-direction: column;
}

.usTable th {
  background-color: #E8AEB1;
  font-weight: bold;
  padding: 0.5em 1em;
}

.usTable td {
  padding: 0.5em 1em;
}

.workTitle {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column;
  top: 100%;
  padding-top: 1em;
}

/* .ashleyimg {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
} */


@media screen and (max-width: 990px){
.workTitle p {
  display:none;
}
}

.allProjects {
  display: flex;
  flex-direction: column;
}

.myWork{
/* background-color: #76C3D2; */
padding: 0.3em;
}

.projectButton {
   background-color: #76C3D2;
   width: 10em;
   height: 3em;
   border-radius: 0.5em;
}



@media screen and (min-width: 575px){

}
@media screen and (min-width: 767px){
  #menu {
    margin: 0;
    padding: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: flex-end;
    top: 19px;
    background: transparent;
    left: calc(100vw - 1em);
  }
  #menuToggle {
    position: inherit;
  }
  /* nav {
    position: relative;
  } */
  #menuToggle span {
    display: none
  }
  #menuToggle input {
    display: none;
  }
  .ashLogo {
      right: inherit;
      left: 3em;
  }
  header div.intro {
    top: 0;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4em;
  }
  .workTitle {
      align-items: center;
  }
  .project {
    width: 30%;
  }
  .allProjects {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
  }
  header {
    flex-direction: row;
  }
  .half {
    width: calc(50% - 1em);
  }
  .whole {
    max-width: 100em;
    display: flex;
    justify-content: space-between;
  }
  .third {
    width: calc(33% - 1em);
  }
  .description {
   padding-bottom: 0;
  }

  .caseStudyTitle div {
    margin-left: 2em;
  }

  .helloAsh {
    padding-left: 5em
  }
  .ashleyimg {
    padding-top: 3em;
    /* padding-left: 5em;
    padding-right: 3em; */
    width: 30%;
    /* display: inline-block; */
  }




  .abme{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10em;
  }
}


@media screen and (min-width: 1199px){

}
@media screen and (max-width: 767px){
  .helloAsh {
    padding-bottom: 3em
  }

  .ashleyimg{
    padding-bottom: 3em;
  }

  .abme {
    padding-bottom: 10em;
  }
}

.stats {
  display: flex;
  justify-content: center;
}
